.form{
    margin: 10px;
}

.NewButton{
    padding: 2px;
    margin: 1%;
    border: solid 1px gray;
    border-radius: 3px;
    color: white;
    background-color: #007bff;
}

#error1 , #error2{
    color: rgb(199, 54, 54);
}
.placeHolderDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    margin-top: 40px;
    height: 500px;
}
.buttonsDivs{
    border: solid black 1px;
    height: 200px;
    background-color: lightblue;
    
}

.posterDiv{
    display: inline-block;
}
.poster{
    width: 100%;
    
}

.titleBtn{
    padding: 5px;
    width: 100%;
    margin-top: 6px;
    background-color: rgb(88, 140, 207);
    border: solid rgb(204, 109, 0 2px);
    border-radius: 3px;
    color: white;

    

}