body{
    font-family: monospace;
    color: rgb(182, 182, 182);
    background-image:url(../image/body.jpg);
}

/* this is the "Click to enter!!" */
.overlay {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    text-transform: capitalize;
}

.test {
    font-size: 50px;
}

.firstCap {
    text-transform: capitalize;
}

.MainContent {
    padding-top: 40px;
}

#userInputJ{
    margin-top: 20px;
    background-image: url(/assets/image/background-Ry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}

.btn{
    background-color: white;
}

.form{
    margin: 10px;
}
/* style for keyword buttons */
.NewButton{
    text-transform: capitalize;
}

#error1 , #error2{
    color: rgb(199, 54, 54);
}

.placeHolderDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url(/assets/image/background-Ry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    margin-top: 10px;
    height: 80%;
}

/* style for area with the key words buttons */
.buttonsDivs{
    border-radius: 5px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-image: linear-gradient(to right, rgb(104, 179, 202) , rgb(0, 68, 156)); */
    
}


/* to display the movies next to each other after click on key word button */

.poster{
    width: 100%;
}

.titleBtn{
    padding: 5px;
    width: 100%;
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 189, 16) 1px;
    border-radius: 3px;
    color: rgb(0, 189, 16);
}

.NewButton:hover{
    color: white;
    background-color: rgb(0, 189, 16);
}

.titleBtn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 189, 16);
}

.spanName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(145, 53, 0);
    text-shadow: darkgray 3px;
    font-size: 20px;
    font-weight: bold;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
}

.mainDivClass{
    display: flex;

}
.titleOverview{
    position: absolute;
    letter-spacing: 3px;
    width: fit-content;
    margin-left: 10px;
    margin-top: -40px;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-family: fantasy;
}
.moreDetailsImg{
    width: 275px;
    height: 100%;
    border: white solid 3px;
    display: inline-block;
    float: right;
}
.overviewClass{
    padding: 5px 10px;
    display: inline-block;
    color: rgb(145, 53, 0);
    width: 70%;
    background-color:#fff;
    opacity: 0.7;
    border-radius: 5px;
    position: relative;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 150px;
    width: 750px;
    text-align: justify;
}

.Trailer {
    height: 250px;
    width: 750px;
    float: right;
    position: relative;
    right: 3%;
    top: 5%;
}

.form-inline {
    padding-bottom: 20px;
}