body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(182, 182, 182);
}
#userInputJ{
    margin-top: 20px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}

.btn{
    background-color: white;
}

.form{
    margin: 10px;
}
/* style for keyword buttons */
.NewButton{
    padding: 2px;
    margin: 1%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 189, 16) 1px;
    border-radius: 3px;
    color: rgb(0, 189, 16);
}

#error1 , #error2{
    color: rgb(199, 54, 54);
}

.placeHolderDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    margin-top: 10px;
    height: 500px;
}

/* style for area with the key words buttons */
.buttonsDivs{
    border-radius: 5px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right, rgb(104, 179, 202) , rgb(0, 68, 156));
    
}


/* to display the movies next to each other after click on key word button */
.posterDiv{
    display: inline-block;
}
.poster{
    width: 100%;
    
}

.titleBtn{
    padding: 5px;
    width: 100%;
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 189, 16) 1px;
    border-radius: 3px;
    color: rgb(0, 189, 16);
}

.NewButton:hover{
    color: white;
    background-color: rgb(0, 189, 16);
}

.titleBtn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 189, 16);
}

.spanName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(145, 53, 0);
    text-shadow: darkgray 3px;
    font-size: 40px;
    font-weight: bold;
}


.mainDivClass{
    display: flex;

}
.titleOverview{
    position: absolute;
    margin-top: -40px;
    width: content;
    padding: 4px;
    font-size: 18px;
    color: green;
    font-weight: bold;
    background-color: white;
    opacity: 0.7;

}
.moreDetailsImg{
    width: 250px;
    height: 100%;
    border: white solid 3px;
    display: inline-block;
    
}
.overviewClass{
    margin-left: 20px;
    padding: 10px;
    display: inline-block;
    color: rgb(0, 122, 0);
    width: 70%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 5px;
}