/* body{
    font-family: monospace;
    color: rgb(182, 182, 182);
    background-image:url(../image/body.jpg);
} */

/* this is the "Click to enter!!" */
/* will */
.logo{
    width: 100px;
    margin-left: 12%;
    margin-top: 10px;
    float: left;
    margin-top: 10px;
    color: rgb(145, 53, 0);
}
/* will */
.headTitle{ 
    text-align: right;
    color: rgb(145, 53, 0);
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 12%;
    
}

.overlay {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(199, 54, 54);
}

.h1click {
    font-weight: bolder;
    font-family: monospace;
}

span {
    text-transform: capitalize;
}

.test {
    font-size: 50px;
}

.firstCap {
    text-transform: capitalize;
}

.MainContent {
    padding-top: 40px;
}

#userInputJ{
    margin-top: 20px;
    background-image: url(../image/background-Ry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}



.form{
    margin: 10px;
}
/* style for keyword buttons //will */
.NewButton{
    text-transform: capitalize;
    width: fit-content;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 1%;
    border-right: solid white 1px;
    border-radius: 0px;
    /* background-color: rgb(255, 255, 255); */
    /* border: solid rgb(0, 189, 16) 1px; */
    /* border-radius: 3px; */
    color: white; 
}
.AddKeyWord{
    background-color: white;
    color:rgb(199, 54, 54); 
    border-radius: 0px;
    border: solid rgb(145, 53, 0) 1px;
}

.AddKeyWord:hover{
    background-color: rgb(145, 53, 0);
    color:white; 
    border: 0px;

}
#error1 , #error2{
    color: rgb(199, 54, 54);
}
 
/* will */
.placeHolderDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url(../image/background-Ry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    margin-top: 0px;
    height: 80%;
    border-radius: 0px;
    border: solid rgb(145, 53, 0) 1px;
}

.KeyAdd{
    clear: both;
    border: solid  rgb(145, 53, 0) 1px ;
    border-radius:0px;
}

/* will */
.mainSubmitBtn:hover {
    background-color: rgb(145, 53, 0);
    color: white;
    border-radius: 0px;
    border: solid rgb(145, 53, 0) 1px;
     
}

/* will */
.mainSubmitBtn{
    background-color: white;
    color: rgb(145, 53, 0);
    border-radius: 0px;
    border: solid rgb(145, 53, 0) 1px;
}
/* will */
.mainInput{
    border-radius: 0px;
    border: solid rgb(145, 53, 0) 1px;
}
 .welcomSection{
     border-radius: 0px;
     border: solid rgb(145, 53, 0) 1px;
     width: 60%;
     margin: 0 auto;
    
 }

/* style for area with the key words buttons */
.buttonsDivs{
    background-color: rgb(145, 53, 0) ;
    height: fit-content;
    /* background-image: linear-gradient(to right, rgb(104, 179, 202) , rgb(0, 68, 156)); */
    
}


/* to display the movies next to each other after click on key word button */

.poster{
    width: 100%;
}

/* will */
.BtnTrailer, .titleBtn{
    padding: 5px;
    width: 100%;
    margin-top: 6px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(145, 53, 0) 1px;
    color: rgb(145, 53, 0);
}

/* will */
.NewButton:hover{
    color: white;
    text-decoration: underline ;
}

.BtnTrailer:hover, .titleBtn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(145, 53, 0);
}


.btn-outline-success:hover{
    background-color: rgb(145, 53, 0);
    color: white;
}

.spanName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(145, 53, 0);
    text-shadow: darkgray 3px;
    font-size: 20px;
    font-weight: bold;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
}

.mainDivClass{
    display: flex;

}
.titleOverview{
    position: absolute;
    letter-spacing: 3px;
    width: fit-content;
    margin-left: 10px;
    margin-top: -40px;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-family: fantasy;
}
.moreDetailsImg{
    max-width: 250px;
    max-height: auto;
    margin: 0 auto;
    display: inline-block;
    float: right;
}
.overviewClass{
    padding: 5px 10px;
    display: inline-block;
    color: rgb(145, 53, 0);
    width: 70%;
    background-color:#fff;
    opacity: 0.7;
    border-radius: 5px;
    position: relative;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 150px;
    width: 750px;
    text-align: justify;
}

.Trailer{
    width: 600px;
    height: 400px;
    
}

.form-inline {
    padding-bottom: 10px;
    margin-top: -40px;
}

.modal-content{
    width: 600px;
    height: 400px;
}

.SlideShowText{
    background-color: rgba(0, 0, 0, 0.644);
    color: ghostwhite;
    
}

footer{
    color: gray;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}